.header {
    background-color: rgb(255,217,62);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.heading {
    color: black
}

h2 {
    margin: 0.5em
}

.bannerLogo {
    width: 1.8em;
    height: 1.8em;
}
  