h1,h2,h3,h4 {
    margin: 0;
}

.summaryBox {
    flex-wrap: wrap;
    height: 6.5em;
    margin: 0;
}

.totalBoxContainer {
    float: left;
    background-color: white;
    display: inline-block;
    width: 48.5%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todayBoxContainer {
    float: right;
    background-color: white;
    display: inline-block;
    width: 48.5%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}